In [1]:
import pandas as pd


stats_df = pd.read_csv('../output/suppression_stats.csv').sort_values('FireDiscoveryDateTime')
stats_df = stats_df.loc[stats_df['FireDiscoveryDateTime'] >= '2020-01-01'].loc[stats_df['FireDiscoveryDateTime'] < '2023-01-01']
drops_df = pd.read_csv('../output/plane_drops_results.csv')

display(stats_df)
display(drops_df)

,UniqueFireIdentifier,FireDiscoveryDateTime,HoursBurned,IncidentSize,NormalizedTime,NormalizedAcreage,SuppressionResult
75982,2020-MTCRA-190586,2020-01-01 04:06:00,59.566667,0.10,0.400631,0.007173,86.167418
75983,2020-AKUYD-000001,2020-01-01 09:01:00,7255.983333,0.10,0.867865,0.007173,70.592949
75984,2020-OKCNA-000028,2020-01-01 17:00:00,49.000000,0.10,0.381914,0.007173,86.791316
75985,2020-OKCNA-000029,2020-01-01 17:15:00,48.750000,1.96,0.381425,0.081674,81.840902
75986,2020-OKOMA-000032,2020-01-01 20:00:00,454.000000,1416.00,0.597498,0.546128,43.674862
...,...,...,...,...,...,...,...
136711,2022-AZCRD-001466,2022-12-31 19:09:00,212.350000,5.00,0.523560,0.134853,73.557829
136712,2022-OKCNA-003132,2022-12-31 19:56:00,66.066667,4.30,0.410583,0.125516,77.946165
136713,2022-OKOMA-003139,2022-12-31 21:00:00,45.000000,13.30,0.373774,0.200218,74.193001
136714,2022-OKCNA-003131,2022-12-31 22:04:00,63.933333,3.30,0.407427,0.109779,79.100479
136715,2022-OKCNA-003141,2022-12-31 23:45:00,62.250000,0.70,0.404863,0.039936,83.842135

,fire_id,tail_no,flight_id,flight_timestamp
0,2020-AZA1S-001211,N603AX,TNKR914-1594751493-adhoc-0,2020-07-14 19:41:23
1,2020-AZA3S-000323,N522AX,N522AX-1588540364-adhoc-0,2020-05-03 21:23:46
2,2020-AZA3S-000609,N612AX,TNKR910-1590879265-adhoc-0,2020-05-30 23:12:24
3,2020-AZA3S-000635,N839AC,TNKR160-1590804709-adhoc-0,2020-05-30 02:22:49
4,2020-AZA3S-000641,N295EA,N295EA-1591575044-adhoc-0,2020-06-08 00:10:56
...,...,...,...,...
9667,2022-WYCRX-220541,N416AC,N416AC-1659470847-adhoc-0,2022-08-02 20:32:24
9668,2022-WYCRX-220541,N839AC,TNKR160-1659311242-adhoc-0,2022-08-01 00:10:21
9669,2022-WYMRF-220267,N475NA,N475NA-1658796645-adhoc-0,2022-07-26 02:23:29
9670,2022-WYMRF-220267,N839AC,TNKR160-1658787752-adhoc-0,2022-07-25 23:17:13
9671,2022-WYPLX-220177,N471NA,TNKR41-1657492082-adhoc-0,2022-07-10 23:13:58

In [2]:
fires_with_drops = set()

for i in range(len(drops_df)):
    row = drops_df.iloc[i]
    fires_with_drops.add(row['fire_id'])

print(len(fires_with_drops))

3935

In [3]:
has_drop = [stats_df.iloc[i]['UniqueFireIdentifier'] in fires_with_drops for i in range(len(stats_df))]
stats_df.loc[:, 'HasPlaneDrop'] = has_drop

stats_df.to_csv('../output/suppression_stats_with_drops.csv', index=False)

values = stats_df.value_counts(['HasPlaneDrop'])
print(values)

HasPlaneDrop
False           59274
True             1462
Name: count, dtype: int64